* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s1 {
    border: 1px solid #4988fd;
    width: 125px;
    height: 125px;
    background-color: #4988fd;
    margin-top: 350px;
    margin-right: 45px;
}

.s2 {
    border: 1px solid yellow;
    width: 125px;
    height: 125px;
    background-color: yellow;
    margin-top: 350px;
}

.s3 {
    border: 1px solid orange;
    width: 125px;
    height: 125px;
    background-color: orange;
    transform: translateX(-300px);
}

.s4 {
    border: 1px solid #21bf0f;
    width: 125px;
    height: 125px;
    background-color: #21bf0f;
    transform: translateX(-250px);
}